@layer utilities {
  .caption {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@layer components {
  .btn {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0.75rem;
    gap: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    border-radius: 0.75rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;

    &:disabled {
      opacity: 0.5;
    }
  }

  .btn-primary {
    background-color: var(--color-primary-normal);
    color: white;

    &:hover {
      background-color: var(--color-primary-normal-hover);
    }

    &:active {
      background-color: var(--color-primary-normal-active);
    }

    i {
      color: white;
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  .btn-outline {
    border: 1px solid var(--color-black-normal);
    color: var(--color-black-normal);
    background-color: transparent;

    &:hover {
      background-color: var(--color-black-light);
    }

    i {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  .btn-secondary {
    background-color: var(--color-secondary-normal);
    color: var(--color-black-normal);

    &:hover {
      background-color: var(--color-secondary-normal-hover);
    }

    &:active {
      background-color: var(--color-secondary-normal-active);
    }

    i {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
  .btn-tertiary {
    background-color: var(--color-tertiary-normal);
    color: white;

    &:hover {
      background-color: var(--color-tertiary-normal-hover);
    }

    &:active {
      background-color: var(--color-tertiary-normal-active);
    }

    i {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
  }
}
